  <div class="form-style-0">
    <label>
  <h1>"BIENVENIDO"</h1>
  
      <% if @notlog%>
      <p> **Necesitas hacer log in para entrar a la página secreta.**</p>
    <%end%>

  <fieldset>
    
  <p>YA TIENES UNA CUENTA CON NOSOTROS?</p>
    
    <a href="/login"><button>Inicia sesión</button></a>
    

  <p> CREA UNA CUENTA</p>
  
    <a href="/signup"><button>Registrate</button></a>

</fieldset>
</label>
